body {
    font-family: 'Arial', sans-serif; /* Replace 'Arial' with your desired font */
}

.consList{
    display: none;

}

.consText{
    font-size: 16px;
    margin-left: 5px;
    margin-top: 1px;
    margin-bottom: 3px;
}

.consNameText{
    font-size: 22px;
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 5px;

}

.editCon{
    background-color:blue;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center; /* Center the remove button horizontally */
    margin-top: 2px;
}

.removeCon{
    background-color: red;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center; /* Center the remove button horizontally */
    margin-top: 2px;

}

.removeConText{
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    
}


.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ pacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 85%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.input{
    margin-top: 5px;
    margin-bottom: 5px;

}

.closeLaggTill{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
    

}

.addButton{
    background-color: green;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 2px solid darkgreen;

}

.scrapeButton{
    background-color: yellow;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

.addButton:hover,
.closeLaggTill:hover, 
.removeCon:hover,
.removeConText:hover{
    cursor: pointer;
    opacity: 0.8; /* Adjust the opacity as needed */

}


.errorPopup {
    
    position: relative;
    padding: 10px;
    border: 1px solid red;
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 5px;
    margin-bottom: 10px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.closeButtonPopUp{
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px; /* Adjust margin as needed */
    color: #721c24;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.errorText{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3px;
    color: #721c24;
    flex-grow: 1;
}

.infoText{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin: 5px 8px 5px 5px; /* Adjust margins as needed */

    color: black;
    
}

.infon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

}

.rubriker{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    align-self: flex-start; /* Align to the left */

}

.consListDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    
}

.consItem {
    background-color: blanchedalmond;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 3px solid #888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.consList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 5px;
}


.tabortAllt{
    background-color: red;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-self: center; /* Center the remove button horizontally */
    margin-top: 2px;
    transition: background-color 0.3s, color 0.3s;

}